*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
    background-color:#212121;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:50px;
    position:relative;
    width:100%;
    z-index:100;
}
h2{
    font-size:22px;
    font-weight:normal;
    /*left:50%;*/
    margin-left:20px;
    padding:10px 0;
    position:absolute;
    /*width:540px;*/
    color:#fff;
    text-shadow: 3px 3px 3px #050505;
}
h3{
    font-size:18px;
    font-weight:normal;
    /*margin-left:-400px;*/
    padding:10px 0;
    /*position:absolute;*/
    /*width:540px;*/
    color:#fff;
    text-shadow: 3px 3px 3px #050505;
}
h4{
    font-size:16px;
    font-weight:normal;
    margin-left:20px;
    padding:10px 0;
    position:relative;
    color:#fff;
    text-shadow: 2px 2px 2px #050505;
}

header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    height: 40px;
    margin: 30px auto;
    /*width: 957px;*/
}
.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 10px;
}
.table_dark th {
  color: #CAD4D6;
  border-top: 1px solid #CAD4D6;
  border-bottom: 1px solid #CAD4D6;
  padding: 12px 17px;
  background: #212121;
}
.table_dark td {
  color: #838383;
  /*color: #CAD4D6;*/
  width: 70%
  border-bottom: 1px solid #696969;
  border-right:1px solid #696969;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}

A:link {
    text-decoration: none;
    color: #CAD4D6;
}
A:visited {
    text-decoration: none;
    color: #CAD4D6;
}
A:active {
    text-decoration: none;
    color: #CAD4D6;
}
A:hover {
  text-decoration: none;
  color: #00B4FF;
}

form {
  border: 1px solid #696969;
  border-radius: 5px;
  /*font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  overflow: hidden;
  width: 150px;
  margin-left:20px;
  padding:10px 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 10px;
}
input {
  border-radius: 5px;
  /*font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin: 0;
}
.report {
  padding: 20px 20px 0 20px;
}
.report label {
  color: #CAD4D6;
  font-size: 12px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.report input {
  font-size: 12px;
  background: #212121;
  border: 1px solid #696969;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.report-action {
  background: #212121;
  border-top: 1px solid #696969;
  padding: 20px;
}
.report-action .btn {
  background: linear-gradient(#212121, #000000);
  border: 0;
  color: #636466;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.report-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}